[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
channels = "*"
djangorestframework = "*"
django-model-utils = "*"
drf-nested-routers = "*"
channels-redis = "*"

[requires]
python_version = "3.7"
